@charset "UTF-8";

body {
    margin: 0px;
}

header {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    height: 500px;
}

article {
    background-color: rgb(255, 255, 255);
    height: 700px;
}

div#bloco {
    height: 100vh;
    background-image: url(../imagens/wallpaper002-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}