@charset "UTF-8";

.bloco {
    background-image: url(https://images.seeklogo.com/logo-png/27/2/github-logo-png_seeklogo-273183.png);
    
    height: 200px;
    width: 200px;
    background-size: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: darkgray;
    border: solid 5px black;
    margin: 10px;
}

div#q1 {
    background-position: left top;
}

div#q2 {
    background-position: center top;
}

div#q3 {
    background-position: right top ;
}

div#q4 {
    background-position: right center;
}

div#q5 {
    background-position: right bottom;
}

div#q6 {
    background-position: center bottom;
}

div#q7 {
    background-position: left bottom;
}

div#q8 {
    background-position: left center ;
}

div#q9 {
    background-position: center center;
}





